.d_main {
    width: 334px;
    height: 427px;
    position: relative;
}
.d_main img {
    width: 100%;
}
.d_main ul {
    list-style: none;
    margin:0;
    padding:0;
    position: absolute;
    left:50px;
    top:200px;
}
.d_main ul li {
    margin-bottom: 20px;
}
.d_main ul a {
    display: block;
    text-decoration: none;
    color:#fff;
    font-family: serif;
    padding-left: 25px;
    background: url(../new/img/d1/d1_bul.jpg) no-repeat 0 50% / 20px;
    transition: 0.5s;
    transform: scale(1);
}
.d_main ul a:hover {
    transform: scale(1.2) translateX(20px);
}

.d_sub_menu {
    width: 731px;
    height: 78px;
    padding-top: 15px;
    box-sizing: border-box;
    position: relative;
}
.d_sub_menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,.3);
    position: absolute;
    left: 0;
    top:40px;
}
.d_sub_menu ul {
    width: 100%;
    margin:0;
    padding:0 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.d_sub_menu ul li {
    position: relative;
    height:40px;
}
.d_sub_menu ul li a {
    font-family: serif;
    color:#fff;
    font-size: 14px;
    letter-spacing: -1px;
}
.d_sub_menu ul li > a {
    display: block;
    transition: 0.3s;
    transform: scale(1);
    text-decoration: none;
}
.d_sub_menu ul li:hover > a {
    transform: scale(1.4);
    text-decoration: none;
    color:greenyellow;
}
.d_sub_menu ul .sub_m {
    display: none;
    position: absolute;
    top:35px;
    text-align: left;
}
.d_sub_menu ul .sub_m a {
    margin-right: 20px;
    font-size: 12px;
    transition: 0.3s;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.d_sub_menu ul .sub_m a:hover {
    transform: scale(1.2);
    text-decoration: none;
}
.d_sub_menu ul .sub_m.on {
    display: flex;
}
.d_sub_menu ul li:nth-child(1) .sub_m {
    left: 0;
    width: 350px;
}
.d_sub_menu ul li:nth-child(2) .sub_m {
    left: -40px;
    width: 290px;
}
.d_sub_menu ul li:nth-child(3) .sub_m {
    left: -70px;
    width: 270px;
}
.d_sub_menu ul li:nth-child(4) .sub_m {
    left: -30px;
    width: 200px;
}
.d_sub_menu ul li:nth-child(5) .sub_m {
    left: auto;
    right:-40px;
    width: 500px;
}

.d_sub2 {
    height: 37px;
}
.d_sub2 ul {
    list-style: none;
    margin:0;
    padding:10px 0 0;
    display: flex;
}
.d_sub2 ul a {
    font-size: 12px;
    color:#fff;
    font-family: serif;
    padding-left: 10px;
    margin-right: 10px;
    position: relative;
    letter-spacing: -1px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
    transform: scale(1);
}
.d_sub2 ul a:hover {
    transform: scale(1.2);
}
.d_sub2 ul a::after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: rgba(255,255,255,.5);
    position: absolute;
    left:0;
    top:0;
}