
.quick {
    text-align: center;
}
.quick ul {
    list-style: none;
    margin:-5px 0 15px;
    padding:10px 10px 0;
    background:#03006f;
    box-sizing: border-box;
    width: 95px;
    height: 80px;
    border-radius: 10px;
    border: 4px solid #5b7adc;
}
.quick ul li {
    border-bottom: 1px solid #1c299f;
}
.quick ul li:last-child {
    border-bottom: 0 solid #000;
}
.quick .tit {
    padding:5px 0;
    background: url(../new/img/quick_tit.svg) no-repeat 0 0;
    position: relative;
    z-index: 1;
}
.quick .tit img {
    display: inline-block;
    transform: translateY(2px);
}
.quick li {
    list-style: none;
    line-height: 25px;
}
.quick li a {
    color:#fff;
}
.quick li a:hover {
    color:gold;
}
.thumb_list {
    display: flex;
    align-items: center;
}
.thumb_list .txt {
    margin-top: 20px;
    margin-left: 5px;
}
.thumb_list > .architect.box {margin-right: 15px;}  
.thumb_list ul {padding:0;margin:0;list-style: none;}
.thumb_list ul::after {
    display: block;
    content: '';
    clear: both;
}
.thumb_list li {
    list-style: none;
    width: 49px;
    height: 68px;
    margin:0;
    padding:10px 5px;
    text-align: center;
    background: url(../new/img/list_bg.png) no-repeat 50% / cover;
    float: left;
}
.thumb_list li img:hover {
    border: 1px solid rgba(255,255,255,1);    
}
.thumb_list li img {
    border: 1px solid rgba(255,255,255,.5);
}
.tit {
    margin:0;
    padding:0;
    color:#fff;
}


.menu_list {
    margin:0;
    padding:0;
    list-style: none;
    border: 6px solid #0b055b;
    background: #1d2298;
    border-radius: 10px;
    padding:0 5px;
}
.menu_list li {
    border-bottom: 1px dashed rgba(255,255,255,.3);
    padding:5px 0;
}
.menu_list li:last-child {
    border-bottom: 0 solid #000;
}
.menu_list a {
    display: block;
    color:#fff;
    letter-spacing: -1px;
}
.menu_list a:hover {
    color:gold;
}
.new_ca {
    width: 996px;
    height: 654px;
    background: url(../new/img/ca/bg_frame.png) no-repeat 0 0;
    padding:40px 5px 0 35px;
    box-sizing: border-box;
}
.new_ca .ca_container {
    width: 100%;
    height: 610px;
    overflow: hidden;
    background: #000;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px 2px #000; 
    box-shadow: 1px 1px 5px 2px #000;
}
.new_ca .ca_container > img {
    width: 100%;
}
.new_ca .ca_container .tit {
    position: absolute;
    top:140px;
    left:250px;
    color:#333;
    line-height: 12px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.new_ca .ca_container .tit span {
    display: block;
}
.new_ca .ca_container .tit span:last-child {
    margin-left: 20px;
}
.new_ca .logo_box {
    position: absolute;
    left: 50px;
    top:83px;
}
.new_ca .logo_box img {
    width: 240px;
}
.navi_list {
    position: absolute;
    left:165px;
    top:255px;
    list-style: none;
    margin:0;
    width: 750px;
    
}
.navi_list li {
    margin:0 0 1px;
}
.navi_list li a {
    width: 100%;
    display: block;
    height:30px;
    line-height: 30px;
    padding-left: 10px;
    background: rgba(0,0,0,.5);
    color:#fff;
}
.navi_list li a:hover {
    background: rgba(0,0,0,.7);
}
.navi_list.double {
    left:165px;
    width: 350px;
    
}
.navi_list.double2 {
    left:calc( 165px + 370px);
    width: 375px;
    
}
.scroll_tbl {
    width: 650px;
    height: 600px !important;
    overflow: auto;
    /* box-sizing: border-box; */
}
#BList {
    overflow-y: auto !important;
    width: 152px;
}
.new_ca .logo_box.m {
    position: absolute;
    left: 0;
    top:127px;
    background: #000;
    width: 571px;
    box-sizing: border-box;
    padding:0 0 0 30px;
}
.new_ca .logo_box.m img {
    width: 530px;
}
.new_ca .ca_container.m .img_grid {    
    position: absolute;
    left: 0;
    top:0;
    opacity: .8;
    z-index: 1;
}
.new_ca .ca_container.m:after {
    display: block;
    content:'';
    width:195px;
    height: 500px;
    background: rgba(0,0,0,.5);
    position: absolute;
    right:0;
    top:127px;
}
.new_ca .ca_container.m ul {
    list-style: none;
    margin:0;
    padding:0;
}
.new_ca .ca_container.m ul a {
    color:#fff;
    opacity: .7;
}
.new_ca .ca_container.m .volume {
    position: absolute;
    right:0;
    top:90px;
    width: 190px;
    z-index: 2;
}
.new_ca .ca_container.m p {
    letter-spacing: -1px;
    color:#fff;
}
.new_ca .ca_container.m .volume li {
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 22px;
}
.new_ca .ca_container.m .volume li a {
    display: inline-block;
    position: relative;
    letter-spacing: -1px;
}
.new_ca .ca_container.m .volume li:hover a {
    opacity: 1;
}
.new_ca .ca_container.m .volume li::after {
    content: '';
    display: inline-block;
    height: 20px;
    background: #000;
    position: absolute;
    right:0;
}
.new_ca .ca_container.m .volume li:hover::after {
    background: #000 url(../new/img/ca/bul_orange.svg) no-repeat 10px 50%;
}
.new_ca .ca_container.m .volume li:nth-child(1):after {
    width: 48%;
}
.new_ca .ca_container.m .volume li:nth-child(2):after {
    width: 48%;
}
.new_ca .ca_container.m .volume li:nth-child(3):after {
    width: 43%;
}
.new_ca .ca_container.m .volume li:nth-child(4):after {
    width: 68%;
}
.new_ca .ca_container.m .volume li:nth-child(5):after {
    width: 18%;
}
.new_ca .ca_container.m .volume li:nth-child(6):after {
    width: 28%;
}
.new_ca .ca_container.m .volume li:nth-child(7):after {
    width: 43%;
}
.new_ca .ca_container.m .volume li:nth-child(8):after {
    width: 43%;
}
.new_ca .ca_container.m .volume li:nth-child(9):after {
    width: 43%;
}
.new_ca .ca_container.m .volume li:nth-child(10):after {
    width: 58%;
}
.new_ca .ca_container.m ._special {
    position: absolute;
    top:344px;
    width: 188px;
    z-index: 2;
}
.new_ca .ca_container.m ._special p {
    margin:0 0 5px;
    padding:0 5px;
}
.new_ca .ca_container.m ._special ul {
    height: 110px;
    padding:5px;
    background: rgba(0,0,0,0.5);
    font-size: 14px;
}
.new_ca .ca_container.m ._special ul li {
    margin-bottom: 2px;
}
.new_ca .ca_container.m ._special a {
    display: block;
}
.new_ca .ca_container.m ._special a:hover {
    opacity: 1;
    background: rgba(0,0,0,.5);
}
.new_ca .ca_container.m ._special.issue {
    left:194px;
}
.new_ca .ca_container.m ._special.section {
    left:384px;
}

/* 고유복식 */
.k_navi {
    width: 556px;
    height: 72px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color:#fff;
    font-size: 14px;
}

.k_navi ul {
    list-style: none;
    margin: 0;
    padding:0;
    display: flex;
}
.k_navi ul li {
    margin-right: 10px;
}
.k_navi a {
    color:#fff;
    text-decoration: none;
    font-size: 14px;
} 
.k_navi > div {
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 20px;
    width: 90%;
}
.k_navi .n1 {
    background: #e5a4ba;
}
.k_navi .n1 a:hover {
    color:#B24592;
}
.k_navi .n2 {
    background: #a7c6dc;
}
.k_navi .n2 a:hover {
    color:#1c299f;
}
.btn-grad {
    margin-right: 10px;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    background-image: linear-gradient(to right, #B24592 0%, #F15F79  51%, #B24592  100%);
}

.btn-grad2 {
    margin-right: 10px;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)
}
.k_main {
    height: 372px;
    background: #eef0e8;
    border-radius: 20px;
    padding:15px;
}
.k_main p {
    margin:0;
    font-size: 14px;
}
.k_main .inner {
    background: #d7dbc8;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.k_main .inner img {
    width: 100%;
}
.k_main .inner .txt_box {
    padding:20px 40px;
}
.k_main .inner .txt_box .t2 {
    opacity: .5;
    margin-top: 5px;
}
.m_main {
    height: 339px;
    background: #f4ecea;
    border-radius: 20px;
    padding:15px;
    position: relative;
}
.m_main p {
    margin:0;
    font-size: 12px;
    opacity: .5;
    text-align: right;
    line-height: 1.4;
}
.m_main .inner {
    background: #e6d5d1;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.m_main .inner img {
    width: 100%;
}
.m_main .inner .txt_box {
    position: absolute;
    right:60px;
    bottom:20px;
}

.p_main {
    height: 626px;
    background: #fcf3fb;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    padding:5px;
}
.p_main img {
    width: 100%;
}
.p_main p {
    position: absolute;
    margin:0;
    letter-spacing: -1px;
}

.d_main {
    width: 334px;
    height: 427px;
    position: relative;
}
.d_main img {
    width: 100%;
}
.d_main ul {
    list-style: none;
    margin:0;
    padding:0;
    position: absolute;
    left:50px;
    top:200px;
}
.d_main ul li {
    margin-bottom: 20px;
}
.d_main ul a {
    display: block;
    text-decoration: none;
    color:#fff;
    font-family: serif;
    padding-left: 25px;
    background: url(../new/img/d1/d1_bul.jpg) no-repeat 0 50% / 20px;
    transition: 0.5s;
    transform: scale(1);
}
.d_main ul a:hover {
    transform: scale(1.2) translateX(20px);
}

.d_sub_menu {
    width: 731px;
    height: 78px;
    padding-top: 15px;
    box-sizing: border-box;
    position: relative;
}
.d_sub_menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,.3);
    position: absolute;
    left: 0;
    top:40px;
}
.d_sub_menu ul {
    width: 100%;
    margin:0;
    padding:0 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.d_sub_menu ul li {
    position: relative;
    height:40px;
}
.d_sub_menu ul li a {
    font-family: serif;
    color:#fff;
    font-size: 14px;
    letter-spacing: -1px;
}
.d_sub_menu ul li > a {
    display: block;
    transition: 0.3s;
    transform: scale(1);
    text-decoration: none;
}
.d_sub_menu ul li:hover > a {
    transform: scale(1.4);
    text-decoration: none;
    color:greenyellow;
}
.d_sub_menu ul .sub_m {
    display: none;
    position: absolute;
    top:35px;
    text-align: left;
}
.d_sub_menu ul .sub_m a {
    margin-right: 20px;
    font-size: 12px;
    transition: 0.3s;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.d_sub_menu ul .sub_m a:hover {
    transform: scale(1.2);
    text-decoration: none;
}
.d_sub_menu ul .sub_m.on {
    display: flex;
}
.d_sub_menu ul li:nth-child(1) .sub_m {
    left: 0;
    width: 350px;
}
.d_sub_menu ul li:nth-child(2) .sub_m {
    left: -40px;
    width: 290px;
}
.d_sub_menu ul li:nth-child(3) .sub_m {
    left: -70px;
    width: 270px;
}
.d_sub_menu ul li:nth-child(4) .sub_m {
    left: -30px;
    width: 200px;
}
.d_sub_menu ul li:nth-child(5) .sub_m {
    left: auto;
    right:-40px;
    width: 500px;
}

.d_sub2 {
    height: 37px;
}
.d_sub2 ul {
    list-style: none;
    margin:0;
    padding:10px 0 0;
    display: flex;
}
.d_sub2 ul a {
    font-size: 12px;
    color:#fff;
    font-family: serif;
    padding-left: 10px;
    margin-right: 10px;
    position: relative;
    letter-spacing: -1px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
    transform: scale(1);
}
.d_sub2 ul a:hover {
    transform: scale(1.2);
}
.d_sub2 ul a::after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: rgba(255,255,255,.5);
    position: absolute;
    left:0;
    top:0;
}