.m_main {
    height: 339px;
    background: #f4ecea;
    border-radius: 20px;
    padding:15px;
    position: relative;
}
.m_main p {
    margin:0;
    font-size: 12px;
    opacity: .5;
    text-align: right;
    line-height: 1.4;
}
.m_main .inner {
    background: #e6d5d1;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.m_main .inner img {
    width: 100%;
}
.m_main .inner .txt_box {
    position: absolute;
    right:60px;
    bottom:20px;
}